<!doctype html>
<!--suppress HtmlUnknownTarget, ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:fragment="common-header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{header.title}"></title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <link th:href="@{/css/fontawesome-all.min.css}" rel="stylesheet"/>

    <link rel="icon" href="/image/clipboard.png"/>
</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light mb-2" style="background-color: #cee3f6">
        <a class="navbar-brand" th:href="@{/}" th:text="#{header.title}">
            <img src="/image/clipboard.png" width="30" height="30" class="d-inline-block align-top" alt="">

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/home}" th:text="#{header.home}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:text="#{header.products}"></a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0">
                <a class="navbar-brand" href="javascript:changeLocale('en')">
                    <img height="25" class="d-inline-block align-middle" src="/image/uk_flag.png"/>
                </a>
                <a class="navbar-brand" href="javascript:changeLocale('ru')">
                    <img height="25" class="d-inline-block align-middle" src="/image/ru_flag.png"/>
                </a>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/profile}" th:text="#{header.profile}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}" th:text="#{header.logout}"></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <br/><br/>
    <footer>
        <div class="row">

        </div>
    </footer>
    <div class="copyright">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
<div th:fragment="body-bottom-scripts">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
</div>

<div th:fragment="commentBlock">
    <div th:if="${comment.replyList.size() > 0}" th:each="nextComment:${comment.replyList}" class="row">
        <div class="col-sm-12 ml-4">
            <div th:id="commentBody + ${nextComment.id}">
                <div class="commentText">
                    <span th:text="${nextComment.user.name}"></span><span>: </span><span th:text="${nextComment.text}"></span>
                </div>
                <span>Posted on </span><span th:text="${#dates.format(nextComment.created)}"></span>
                <div>
                        <span><a th:href="'javascript:replyComment(\'' + ${nextComment.id} + '\');'"
                                 style="padding-right: 20px" th:text="#{header.reply}"></a>
                            <a th:href="'javascript:editComment(\'' + ${nextComment.id} + '\');'"
                               th:if="${user.id} == ${nextComment.user.id}" th:text="#{header.edit}"></a>
                            <a th:href="'javascript:deleteComment(\'' + ${nextComment.id} + '\');'"
                               th:if="${user.id} == ${nextComment.user.id}" th:text="#{header.del}"></a></span>
                </div>
            </div>
            <div th:id="commentDelete + ${nextComment.id}" style="display: none">
                <form th:action="@{/home/deleteComment}" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="id" th:value="${nextComment.id}"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{header.delComment}"></button>
                        <a th:href="'javascript:cancelDeleteComment(\'' + ${nextComment.id} + '\');'"
                           class="btn btn-primary"
                           style="margin-left: 10px" th:text="#{header.cancel}"></a>
                    </div>
                </form>
            </div>
            <div th:id="commentEdit + ${nextComment.id}" style="display: none">
                <form th:action="@{/home/editComment}" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="id" th:value="${nextComment.id}"/>
                        <input class="form-control" required="required" name="commentText" th:value="${nextComment.text}"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{header.editCom}"></button>
                        <a th:href="'javascript:cancelEditComment(\'' + ${nextComment.id} + '\');'"
                           class="btn btn-primary"
                           style="margin-left: 10px" th:text="#{header.cancel}"></a>
                    </div>
                </form>
            </div>
            <div th:id="commentReply + ${nextComment.id}" style="display: none">
                <form th:action="@{/home/newComment}" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" name="id" th:value="${product.id}"/>
                        <input type="hidden" class="form-control" name="parentId" th:value="${nextComment.id}"/>
                        <input class="form-control" required="required" name="commentText"/>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" th:text="#{header.reply}"></button>
                        <a th:href="'javascript:cancelReplyComment(\'' + ${nextComment.id} + '\');'" class="btn btn-primary"
                           style="margin-left: 10px" th:text="#{header.cancel}"></a>
                    </div>
                </form>
            </div>
            <div th:with="comment = ${nextComment}">
                <div th:include="::commentBlock">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>