<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-12" th:if="!${userIsAdmin}">
                    <h3 th:text="#{home.greeting}"></h3>
                    <div id="inventory">
                        <div th:each="category : ${teamCategories}" th:if="${category.products.size()} > 0">
                            <h4 th:text="${category.name}"></h4>
                            <table border="0" class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th class="w-35" th:text="#{home.name}"></th>
                                    <th class="w-15" th:text="#{home.amount}"></th>
                                    <th class="w-50" style="text-align: center" th:text="#{home.action}"></th>
                                <tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${category.products}">
                                    <div th:if="${product != null and product.amount != 0}">
                                        <td class="align-middle" th:text="${product.name}" th:onclick="'productClicked(\'' + ${product.id} + '\', \'0\');'"></td>
                                        <td class="align-middle" th:text="${product.amount}" th:onclick="'productClicked(\'' + ${product.id} + '\', \'0\');'"></td>
                                        <td>
                                            <div class="btn-toolbar w-100 justify-content-center">
                                                <button class="btn btn-primary m-1" th:id="addButton + ${product.id}"
                                                        th:onclick="'addAmount(\'' + ${product.id} + '\');'"><i
                                                        class="fas fa-angle-double-up"></i> <span th:text="${product.defaultChange}"></span></button>
                                                <div class="input-group m-1">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-secondary" type="button"
                                                                th:onclick="'removeInputAmount(\'' + ${product.id} + '\', \'' + ${product.defaultChange} + '\');'"><i
                                                                class="fas fa-angle-left"></i></button>
                                                    </div>
                                                    <input type="number" step="5" class="form-control d-none d-sm-block" th:id="input + ${product.id}" th:value="${product.defaultChange}">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button"
                                                                th:onclick="'addInputAmount(\'' + ${product.id} + '\', \'' + ${product.defaultChange} + '\');'"><i
                                                                class="fas fa-angle-right"></i></button>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary m-1" th:id="removeButton + ${product.id}"
                                                        th:onclick="'removeAmount(\'' + ${product.id} + '\');'"><i
                                                        class="fas fa-angle-double-down"></i> <span th:text="${product.defaultChange}"></span></button>
                                            </div>
                                        </td>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" th:if="${userIsAdmin}">
                    <h3 th:text="#{home.requests}"></h3>
                    <div th:each="request : ${requestList}" th:if="${requestList.size()} > 0">
                        <table border="0" class="table table-hover table-sm">
                            <thead>
                            <tr>
                                <th th:text="#{home.email}"></th>
                                <th th:text="#{home.created}"></th>
                                <th th:text="#{home.responded}"></th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td th:text="${request.email}"></td>
                                <td th:text="${#dates.format(request.created, 'dd MMM yyyy, HH:mm' )}"></td>
                                <td th:text="${request.responded}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div th:if="!${userIsAdmin}">
                <form th:action="@{/home/undoLastChange}" method="post" class="mt-4">
                    <button class="btn btn-warning" type="submit" id="btnUndo" th:disabled="${undoDisabled}"
                            th:text="#{home.undo}"></button>
                </form>
                <hr/>
                <a th:href="@{/home/createNewProduct}" class="btn btn-primary" th:text="#{home.add}"></a>
            </div>
        </div>
        <div class="col-md-2">
            <div th:if="${userIsAdmin} == null">
                <h3 th:text="#{home.team}"></h3>
                <div th:if="${teamList.size() == 0}">
                    <span th:text="#{home.empty}"></span>
                </div>
                <div th:if="${teamList.size()} > 0">
                    <table border="0" id="teamList" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col" th:text="#{home.teamname}"></th>
                            <th scope="col" th:text="#{home.username}"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${teamList}">
                            <div th:if="${user != null}">
                                <td><span th:text="${user.name}"></span></td>
                                <td><span th:text="${user.username}"></span></td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a th:if="${userIsAdmin} or  ${userIsLeader}" th:href="@{/home/newUser}" class="btn btn-primary"
               th:text="#{home.newuser}"></a>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>