<!DOCTYPE html>

<!--suppress CheckEmptyScriptTag -->
<html xmlns:th="http://www.w3.org/1000/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Inventory:</h3>
                    <div id="inventory">
                        <div th:each="category : ${teamCategories}" th:if="${category.products.size()} > 0">
                            <h4 th:text="${category.name}"></h4>
                            <table border="0" class="table table-hover table-sm">
                                <thead>
                                <tr>
                                    <th class="w-30">Name</th>
                                    <th class="w-10">Amount</th>
                                    <th class="w-60" style="text-align: center">Actions</th>
                                <tr>
                                </thead>
                                <tbody>
                                <tr th:each="product : ${category.products}">
                                    <div th:if="${product != null and product.amount != 0}">
                                        <td class="align-middle" th:text="${product.name}" th:onclick="'javascript:productClicked(\'' + ${product.id} + '\', \'0\');'"></td>
                                        <td class="align-middle" th:text="${product.amount}" th:onclick="'javascript:productClicked(\'' + ${product.id} + '\', \'0\');'"></td>
                                        <td>
                                            <div class="btn-toolbar w-100 justify-content-center">
                                                <button class="btn btn-primary m-1"
                                                        th:onclick="'javascript:sendAjaxChange(\'' + ${product.id} + '\', \'' + ${product.defaultChange} + '\');'"><i
                                                        class="fas fa-angle-double-up"></i> <span th:text="${product.defaultChange}"></span></button>
                                                <button class="btn btn-primary m-1" th:onclick="'javascript:sendAjaxChange(\'' + ${product.id} + '\', \'' + 'input' + '\');'"><i
                                                        class="fas fa-angle-up"></i></button>
                                                <div class="input-group m-1 w-50">
                                                    <div class="input-group-prepend">
                                                        <button class="btn btn-outline-secondary" type="button"
                                                                th:onclick="'javascript:removeInputAmount(\'' + ${product.id} + '\', \'' + ${product.defaultChange} + '\');'"><i
                                                                class="fas fa-angle-left"></i></button>
                                                    </div>
                                                    <input type="number" step="5" class="form-control" th:id="input + ${product.id}">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="button"
                                                                th:onclick="'javascript:addInputAmount(\'' + ${product.id} + '\', \'' + ${product.defaultChange} + '\');'"><i
                                                                class="fas fa-angle-right"></i></button>
                                                    </div>
                                                </div>
                                                <button class="btn btn-primary m-1" th:onclick="'javascript:sendAjaxChange(\'' + ${product.id} + '\', \'' + '-input' + '\');'"><i
                                                        class="fas fa-angle-down"></i></button>
                                                <button class="btn btn-primary m-1"
                                                        th:onclick="'javascript:sendAjaxChange(\'' + ${product.id} + '\', \'' + -${product.defaultChange} + '\');'"><i
                                                        class="fas fa-angle-double-down"></i> <span th:text="${product.defaultChange}"></span></button>
                                            </div>
                                        </td>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <hr/>
            <form th:action="@{/home/undoLastChange}" method="post">
                <button class="btn btn-warning" type="submit" id="btnUndo" th:disabled="${undoDisabled}">Oh shit, UNDO</button>
            </form>
            <hr/>
            <a th:href="@{/home/createNewProduct}" class="btn btn-primary">Add new product</a>
        </div>
        <div class="col-md-2">
            <div th:if="${userIsAdmin} == null">
                <h3>Your team:</h3>
                <div th:if="${teamList.size() == 0}">
                    <span>Your team is empty</span>
                </div>
                <div th:if="${teamList.size()} > 0">
                    <table border="0" id="teamList" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${teamList}">
                            <div th:if="${user != null}">
                                <td><span th:text="${user.name}"></span></td>
                                <td><span th:text="${user.username}"></span></td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a th:if="${userIsAdmin} or  ${userIsLeader}" th:href="@{/home/newUser}" class="btn btn-primary">Create new user</a>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>