<!DOCTYPE html>

<!--suppress CheckEmptyScriptTag -->
<html xmlns:th="http://www.w3.org/1000/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="jumbotron">
                <h1 class="display-4">Inventory tracking, only simpler</h1>
                <p class="lead">Allow your team to have constant access to current inventory status</p>
                <hr class="my-4">
                <p sec:authorize="isAnonymous()">Leave a request and we will create an account for you</p>
                <p sec:authorize="isAuthenticated()">Glad to see you again</p>
                <div class="alert alert-success" th:if="${requestLeft}">Request sent! We will contact you shortly!</div>
                <p class="lead" th:if="!${requestLeft}">
                    <a sec:authorize="isAuthenticated()" th:href="@{/home}" class="btn btn-primary">Go to home screen</a>
                    <a sec:authorize="isAnonymous()" href="javascript:leaveRequestForm();" id="leaveRequestButton" class="btn btn-primary">Leave request</a>
                <form th:action="@{/newRequest}" method="post" id="leaveRequestForm" style="display: none">
                    <div class="form-group">
                        <label for="leaveRequestEmail">Your email</label>
                        <input class="form-control" required="required" type="text" id="leaveRequestEmail" name="email"/>
                    </div>
                    <button class="btn btn-primary" type="submit">Leave request</button>
                </form>
                </p>
            </div>

        </div>
        <div class="col-sm-6">
            <img src="/image/warehouse.jpg" class="img-fluid mt-5">
        </div>
        <div class="col-sm-2">
            <br/>
            <div class="alert alert-danger" th:if="${param.error != null}" style="color: red;">Incorrect username or password</div>
            <form sec:authorize="isAnonymous()" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input required="required" type="text" class="form-control" id="username" name="username"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input required="required" type="password" class="form-control" id="password" name="password"/>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="rememberMe" name="remember-me"/>
                        <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
            <div sec:authorize="isAuthenticated()">
                <h3>Your username:</h3>
                <span th:text="${user.username}"></span>
                <h3>Your name:</h3>
                <span th:text="${user.name}"></span>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>