<!DOCTYPE html>

<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="common/header :: common-header"></head>

<body>
<div th:replace="common/header :: navbar"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h3 th:text="#{newProduct.add}"></h3>
            <div class="alert alert-success" role="alert" th:if="${productCreated} != null"><span
                    th:text="#{newProduct.product}"></span><span th:text="${productCreated.name}"></span><span
                    th:text="#{newProduct.created}"></span></div>
            <div class="alert alert-danger" role="alert" th:if="${productExists}" th:text="#{newProduct.exists}"></div>
            <form th:action="@{/home/createNewProduct}" method="post">
                <div class="form-group">
                    <label for="productName" th:text="#{newProduct.productName}"></label>
                    <input class="form-control" required="required" type="text" id="productName" name="productName"/>
                </div>
                <div class="form-group">
                    <label for="productCategory" th:text="#{newProduct.category}"></label>
                    <select class="custom-select my-1 mr-sm-2" id="productCategory" name="productCategory">
                        <option th:each="category : ${teamCategories}"
                                th:value="${category.id}"
                                th:utext="${category.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="productAmount" th:text="#{newProduct.initial}"></label>
                    <input class="form-control" required="required" type="number" id="productAmount" name="productAmount"/>
                </div>
                <div class="form-group">
                    <label for="productAmount" th:text="#{newProduct.changeAmount}"></label>
                    <input class="form-control" required="required" type="number" step="1" id="productDefaultChange" name="productDefaultChange"/>
                </div>
                <button class="btn btn-primary" type="submit" th:text="#{newProduct.newProduct}"></button>
            </form>
        </div>
        <div class="col-sm-4">
            <h4 th:text="#{newProduct.categories}"></h4>
            <table border="0" class="table table-hover">
                <thead>
                <tr>
                    <th th:text="#{newProduct.name}"></th>
                    <th th:text="#{newProduct.productAmount}"></th>
                <tr>
                </thead>
                <tbody>
                <tr th:each="category : ${teamCategories}">
                    <div>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.products.size()}"></td>

                    </div>
                </tr>
                </tbody>
            </table>
            <div class="alert alert-danger" th:if="${categoryNameIsEmpty}" style="color: red;"
                 th:text="#{newProduct.nameEmpty}"></div>
            <div class="alert alert-danger" th:if="${noTeamAssigned}" style="color: red;"
                 th:text="#{newProduct.noTeam}"></div>
            <div class="alert alert-success" th:if="${categoryCreated != null}"><span
                    th:text="#{newProduct.categoryCreated}"></span> <span th:text="${categoryCreated.name}"></span>
                <span th:text="#{newProduct.createdCategory}"></span></div>
            <div class="alert alert-success" th:if="${categoryDeleted != null}"><span
                    th:text="#{newProduct.categoryCreated}"></span> <span th:text="${categoryDeleted.name}"></span>
                <span th:text="#{newProduct.deletedCategory}"></span></div>
            <a href="javascript:addNewCategoryForm();" class="btn btn-primary" id="addNewCategoryButton"
               th:text="#{newProduct.addNew}"></a> <a class="btn btn-primary"
                                                      href="javascript:deleteCategoryForm();"
                                                      id="deleteCategoryButton" th:if="${userIsLeader}"
                                                      th:text="#{newProduct.removeCat}"></a>
            <form th:action="@{/home/createNewCategory}" method="post" id="addNewCategoryForm" style="display: none">
                <div class="form-group">
                    <label for="addNewCategoryName" th:text="#{newProduct.catName}"></label>
                    <input class="form-control" required="required" type="text" id="addNewCategoryName" name="category"/>
                </div>
                <button class="btn btn-primary" type="submit" th:text="#{newProduct.newCat}"></button>
                <a href="javascript:cancelCategoryForms();" class="btn btn-primary" id="cancelAddNewCategoryButton"
                   th:text="#{newProduct.cancel}"></a>
            </form>
            <form th:action="@{/home/deleteCategory}" method="post" id="deleteCategoryForm" style="display: none" th:if="${userIsLeader}">
                <div class="form-group">
                    <label for="deteleCategoryName" th:text="#{newProduct.catName}"></label>
                    <select class="custom-select my-1 mr-sm-2" id="deteleCategoryName" name="categoryId">
                        <option th:each="category: ${teamCategories}" th:value="${category.id}"><span th:text="${category.name}"></span></option>
                    </select>
                    <p th:text="#{newProduct.cautionDel}"></p>
                </div>
                <button class="btn btn-danger" type="submit" th:text="#{newProduct.deleteCat}"></button>
                <a href="javascript:cancelCategoryForms();" class="btn btn-primary" id="cancelDeleteCategoryButton"
                   th:text="#{newProduct.cancel}"></a>
            </form>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</div>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>