<!DOCTYPE html>

<!--suppress CheckEmptyScriptTag, ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="common/header :: common-header"/>

<body>
<div th:replace="common/header :: navbar"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <h3><span th:text="#{product.product}"></span><span th:text="${product.name}"></span></h3>
                    <h5><span th:text="#{product.category}"></span><span th:text="${product.category.name}"></span></h5>
                    <div id="productChanges" th:if="${product.changeList != null} and ${product.changeList.size() > 0}">
                        <div>
                            <table border="0" class="table">
                                <thead>
                                <tr>
                                    <th th:text="#{product.change}"></th>
                                    <th th:text="#{product.amount}"></th>
                                    <th th:text="#{product.user}"></th>
                                    <th th:text="#{product.date}"></th>
                                <tr>
                                </thead>
                                <tbody>
                                <tr th:each="change : ${product.changeList}">
                                    <div th:if="${change != null} and ${change.changeAmount != 0}">
                                        <td><span th:if="${change.changeAmount > 0}">+</span><span th:text="${change.changeAmount}"></span></td>
                                        <td th:text="${change.remainingAmount}"></td>
                                        <td th:text="${change.user.name}"></td>
                                        <td th:text="${#temporals.format(T(ru.whatsleft.utility.DateUtil).createLocalDateTime(change.created, 'Europe/Moscow'), 'dd MMM yyyy, HH:mm')}"></td>
                                    </div>
                                </tr>
                                </tbody>
                            </table>
                            <a th:if="${shortList}" th:href="'javascript:productClicked(\'' + ${product.id} + '\', \'1\');'" class="btn btn-primary"
                               th:text="#{product.showFullChangelist}"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-12">
                    <form th:action="@{/home/newComment}" method="post">
                        <div class="form-group">
                            <input type="hidden" class="form-control" name="id" th:value="${product.id}"/>
                            <textarea class="form-control" id="textAddComment" name="commentText" th:placeholder="#{product.commentPlaceholder}"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" th:text="#{product.addComment}"></button>
                        </div>
                    </form>
                    <hr/>
                </div>
            </div>
            <h3 th:text="#{product.comments}"></h3>
            <div th:each="comment:${product.commentList}" class="row">
                <div class="col-sm-12">
                    <div th:id="commentBody + ${comment.id}">
                        <div class="commentText">
                            <span th:text="${comment.user.name}"></span><span>: </span><span th:text="${comment.text}"></span>
                        </div>
                        <span>Posted on </span><span th:text="${#dates.format(comment.created)}"></span>
                        <div>
                        <span><a th:href="'javascript:replyComment(\'' + ${comment.id} + '\');'" style="padding-right: 20px" th:text="#{product.reply}"></a>
                            <a th:href="'javascript:editComment(\'' + ${comment.id} + '\');'" th:if="${user.id} == ${comment.user.id}" th:text="#{product.edit}"></a>
                            <a th:href="'javascript:deleteComment(\'' + ${comment.id} + '\');'" th:if="${user.id} == ${comment.user.id}" th:text="#{product.delete}"></a></span>
                        </div>
                    </div>
                    <div th:id="commentDelete + ${comment.id}" style="display: none">
                        <form th:action="@{/home/deleteComment}" method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" th:value="${comment.id}"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" th:text="#{product.deleteComment}"></button>
                                <a th:href="'javascript:cancelDeleteComment(\'' + ${comment.id} + '\');'"
                                   class="btn btn-primary"
                                   style="margin-left: 10px" th:text="#{product.cancel}"></a>
                            </div>
                        </form>
                    </div>
                    <div th:id="commentEdit + ${comment.id}" style="display: none">
                        <form th:action="@{/home/editComment}" method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" th:value="${comment.id}"/>
                                <input class="form-control" required="required" name="commentText" th:value="${comment.text}"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" th:text="#{product.editComment}"></button>
                                <a th:href="'javascript:cancelEditComment(\'' + ${comment.id} + '\');'"
                                   class="btn btn-primary"
                                   style="margin-left: 10px" th:text="#{product.cancel}"></a>
                            </div>
                        </form>
                    </div>
                    <div th:id="commentReply + ${comment.id}" style="display: none">
                        <form th:action="@{/home/newComment}" method="post">
                            <div class="form-group">
                                <input type="hidden" class="form-control" name="id" th:value="${product.id}"/>
                                <input type="hidden" class="form-control" name="parentId" th:value="${comment.id}"/>
                                <input class="form-control" required="required" name="commentText"/>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary" th:text="#{product.reply}"></button>
                                <a th:href="'javascript:cancelReplyComment(\'' + ${comment.id} + '\');'" class="btn btn-primary"
                                   style="margin-left: 10px" th:text="#{product.cancel}"></a>
                            </div>
                        </form>
                    </div>
                    <div th:with="comment = ${comment}">
                        <div th:include="common/header :: commentBlock"></div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div th:if="${userIsAdmin} == null">
                <h3>Your team:</h3>
                <div th:if="${teamList.size() == 0}">
                    <span>Your team is empty</span>
                </div>
                <div th:if="${teamList.size()} > 0">
                    <table border="0" id="teamList" class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${teamList}">
                            <div th:if="${user != null}">
                                <td><span th:text="${user.name}"></span></td>
                                <td><span th:text="${user.username}"></span></td>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>